.botao-ativo {
  background-color: #0FB981 !important; 
  border-color: #0FB981 !important; 
  color: white !important;
}
.botao-header {
  background-color: transparent; 
  border-color: #fff ; 
  color: white ;
}