<div class="search">
    <form #form="ngForm" (submit)="onSubmit()">
        <input 
            type="text"
            name="city"
            placeholder="Buscar cidade"
            [(ngModel)]="city"
            required
            class="form-control"
        />
        <span (click)="onSubmit()">
        <fa-icon
            style="cursor: pointer"
            size="lg"
            class="search-icon"
            [icon]="searchIcon"
            
            ></fa-icon>
    </span>
    </form>
</div>
<app-weather-card
    *ngIf="weatherDatas"
    [weatherData]="weatherDatas"
></app-weather-card>