
.col-12 {
    padding: 20px;
}
.flex {
    display: flex;
    align-items: center;
    gap: 5px;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-center-gap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}