<div *ngIf="productAction?.event?.action === addProductAction">
  <form [formGroup]="productForm" (ngSubmit)="handleSubmitAddProduct()">
    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText type="text" formControlName="name" placeholder="Nome" />
      <p-dropdown
        styleClass="w-full"
        [options]="categoriesList"
        [(ngModel)]="selectedCategory"
        optionLabel="name"
        optionValue="id"
        formControlName="category_id"
        placeholder="Categoria"
        [showClear]="true"
        [filter]="true"
        filterBy="name"
      ></p-dropdown>
      <input
        pInputText
        type="text"
        formControlName="price"
        placeholder="Preço"
      />
      <input
        pInputText
        type="text"
        formControlName="description"
        placeholder="Descrição"
      />
      <!-- amount -->
      <input
        pInputText
        type="number"
        formControlName="amount"
        placeholder="Quantidade"
        />
        <div class="flex flex-row justify-content-center align-content-center align-items-center m-1">
          <p-button
            type="submit"
            label="Adicionar Produto"
            [disabled]="!productForm.valid"
              ></p-button>
        </div>  
    </div>
  </form>
</div>
<div *ngIf="productAction?.event?.action === editProductAction">
  <form [formGroup]="editProductForm" (ngSubmit)="handleSubmitEditProduct()">
    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText type="text" formControlName="name" placeholder="Nome" />
      <input
        pInputText
        type="text"
        formControlName="price"
        placeholder="Preço"
      />
      <p-dropdown
      *ngIf="renderDropdown"
        styleClass="w-full"
        [options]="categoriesList"
        [(ngModel)]="selectedCategory"
        optionLabel="name"
        optionValue="id"
        formControlName="category_id"
        
        [showClear]="true"
        [filter]="true"
        filterBy="name"
      ></p-dropdown>
      <input
        pInputText
        type="text"
        formControlName="description"
        placeholder="Descrição"
      />
      <input
        pInputText
        type="number"
        formControlName="amount"
        placeholder="Quantidade"
      />
      <div class="flex flex-row justify-content-center align-content-center align-items-center m-1">
          <p-button
            type="submit"
            label="Editar Produto"
            [disabled]="!editProductForm.valid"
          ></p-button>
      </div>
    </div>
  </form>
</div>
<div *ngIf="productAction?.event?.action === saleProductAction">
  <form [formGroup]="saleProductForm" (ngSubmit)="handleSubmitSaleProduct()">
    <div class="card flex flex-column md:flex-column gap-3">
      <p-dropdown
      *ngIf="renderDropdown"
        styleClass="w-full"
        [options]="categoriesList"
        [(ngModel)]="selectedCategory"
        optionLabel="name"
        optionValue="id"
        formControlName="category_id"
        
        [showClear]="true"
        [filter]="true"
        filterBy="name"
      ></p-dropdown> 
      <input
        pInputText
        type="number"
        formControlName="amount"
        placeholder="Quantidade"
      />
      <div class="flex flex-row justify-content-center align-content-center align-items-center m-1">
          <p-button
            type="submit"
            label="Vender Produto"
            [disabled]="!saleProductForm.valid"
          ></p-button>
      </div>
    </div>
  </form>
</div>